[submodule "jetlinks-gateway"]
	path = jetlinks-gateway
	url = git@github.com:jetlinks/jetlinks-gateway.git
[submodule "netty-mqtt-client"]
	path = netty-mqtt-client
	url = git@github.com:jetlinks/netty-mqtt-client.git
[submodule "jetlinks-cloud"]
	path = jetlinks-cloud
	url = git@github.com:jetlinks/jetlinks-cloud.git
[submodule "coap-codec"]
	path = coap-codec
	url = git@github.com:jetlinks/coap-codec.git
[submodule "device-simulator"]
	path = device-simulator
	url = git@github.com:jetlinks/device-simulator.git
[submodule "rule-engine"]
	path = rule-engine
	url = git@github.com:jetlinks/rule-engine.git
[submodule "jetlinks-core"]
	path = jetlinks-core
	url = git@github.com:jetlinks/jetlinks-core.git
[submodule "jetlinks-registry-redis"]
	path = jetlinks-registry-redis
	url = git@github.com:jetlinks/jetlinks-registry-redis.git
