[submodule "jetlinks-protocal"]
	path = jetlinks-protocal
	url = https://github.com/jetlinks/jetlinks-protocal
[submodule "jetlinks-gateway"]
	path = jetlinks-gateway
	url = https://github.com/jetlinks/jetlinks-gateway
