[submodule "jetlinks-gateway"]
	path = jetlinks-gateway
	url = git@github.com:jetlinks/jetlinks-gateway.git
[submodule "device-simulator"]
	path = device-simulator
	url = git@github.com:jetlinks/device-simulator.git
[submodule "rule-engine"]
	path = rule-engine
	url = git@github.com:jetlinks/rule-engine.git
[submodule "jetlinks-core"]
	path = jetlinks-core
	url = git@github.com:jetlinks/jetlinks-core.git
[submodule "jetlinks-supports"]
	path = jetlinks-supports
	url = git@github.com:jetlinks/jetlinks-supports.git
